{% raw  %}
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body style="text-align:center">
    <div style="margin:0px;padding:0px 0px 20px;font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:medium;">
      <div style="margin:0px;padding:0px 0px 20px;">
        <div style="margin:8px 0px 0px;padding:0px;font-size:12.8px;align-content: center; display: flex; justify-content: center;width:100%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody >
              <tr>
                <td style="padding:0px 7px 0px 0px;border-right-color:rgb(144,92,159);border-top-width:0px;border-right-width:3px;border-right-style:solid" valign="top">
                  <br>
                </td>
                <td style="padding:0px 0px 0px 12px">
                  <table cellpadding="0" cellspacing="0" border="0" style="margin:0px;padding:0px;border:0px currentColor;border-collapse:collapse;background-image:none">
                    <tbody>
                      <tr>
                        <td colspan="2" style="padding-top:5px">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <p style="text-align: right; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                            <font color="#0b0599">
                              <br>
                            </font>
                            <font size="2" color="#0b0599">
                              <b>Vice-Présidente
                                en charge de
                                l'Orientation
                                et
                                Réorientation
                              </b>
                            </font>
                          </p>
                          <p style="line-height:normal;margin-bottom:0pt">
                            <font size="2" color="#0b0599">Etudiante
                              en L3 Sciences
                              de la Vie à
                              Sorbonne
                              Université&nbsp;
                            </font>
                          </p>
                          <p style="line-height:normal;margin-bottom:0pt">
                            <span style="font-family:Arial,sans-serif;font-size:10pt">
                              <font color="#073763">
                                <br>
                              </font>
                            </span>
                          </p>
                          <font size="2" color="#073763">
                            <i style="font-family:Arial,Helvetica,sans-serif;font-weight:bold">L'AGEP
                              est membre de
                              la FAGE
                            </i>
                            <br>
                          </font>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
{% endraw  %}
