{% raw  %}

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aider les lycéens à s'orienter - même à distance !
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>#outlook a {
      padding:0;
      }
      body {
        margin:0;
        padding:0;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
      }
      table, td {
        border-collapse:collapse;
      }
      img {
        border:0;
        height:auto;
        line-height:100%;
        outline:none;
        text-decoration:none;
        -ms-interpolation-mode:bicubic;
      }
      p {
        display:block;
        margin:13px 0;
      }
    </style>
    <style>@media only screen and (min-width:480px) {
      .mj-column-per-67 {
        width:67% !important;
        max-width: 67%;
      }
      .mj-column-per-33 {
        width:33% !important;
        max-width: 33%;
      }
      .mj-column-per-100 {
        width:100% !important;
        max-width: 100%;
      }
      .mj-column-per-25 {
        width:25% !important;
        max-width: 25%;
      }
      }
    </style>
    <style>[owa] .mj-column-per-67 {
      width:67% !important;
      max-width: 67%;
      }
      [owa] .mj-column-per-33 {
        width:33% !important;
        max-width: 33%;
      }
      [owa] .mj-column-per-100 {
        width:100% !important;
        max-width: 100%;
      }
      [owa] .mj-column-per-25 {
        width:25% !important;
        max-width: 25%;
      }
    </style>
    <style>@media only screen and (max-width:480px) {
      table.mj-full-width-mobile {
        width: 100% !important;
      }
      td.mj-full-width-mobile {
        width: auto !important;
      }
      }
    </style>
  </head>
  <body style="background-color:#F4F4F4;">
    <div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">Accompagnez les lycéens grâce à IJ box
    </div>
    <div style="background-color:#F4F4F4;">
      <table style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td>
              <div style="margin:0px auto;max-width:600px;">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:10px 0px 10px 0px;padding-bottom:10px;padding-left:0px;padding-right:0px;padding-top:10px;text-align:center;">
                        <div class="mj-column-per-67 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="font-size:0px;padding:0px 0px 0px 25px;padding-top:0px;padding-bottom:0px;">
                                <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="mj-column-per-33 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="font-size:0px;padding:0px 25px 0px 0px;padding-top:0px;padding-right:25px;padding-bottom:0px;">
                                <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p style="text-align: right; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                                    <span style="font-size:13px;text-align:right;color:#55575d;font-family:Arial;line-height:22px;">
                                      <a href="http://xs6nm.mjt.lu/nl2/xs6nm/5qvl2.html?m=AMIAAJAjjA4AAchbjJAAAHPib-sAAYCq8ogAmv-sAA3aeABf_AhvsoJEmbW1TyiaeJxiLMC8_AANwFI&amp;b=7571b546&amp;e=4dd4a173&amp;x=H43FHGHEceSy1_VvYSzE6cU1okhKxou0armiZYHeMgc" style="color:inherit;text-decoration:none;" target="_blank">Voir la version en ligne
                                      </a>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td>
              <div style="margin:0px auto;max-width:600px;">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center;">
                        <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="background:#ffffff;font-size:0px;padding:0px 26px 0px 26px;padding-top:0px;padding-right:26px;padding-bottom:0px;padding-left:26px;">
                                <div style="font-family:Arial, sans-serif;font-size:14px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0; margin-top: 10px;" data-testid="chuAgW0Dx">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">Bonjour,
                                    </span>
                                  </p>
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0;" data-testid="chuAgW0Dx">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">Toutes les équipes du 
                                    </span>
                                    <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/espace-pro/vous-etes-un-professionnel-de-l-information-et-de-l-orientation/ij-box-tous-les-services-pour-informer-et-orienter-reunis-dans-une-boite-a-outils-online">
                                      <span style="color:#55575d;font-family:Arial;font-size:14px;">CIDJ
                                      </span>
                                    </a>
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;"> vous souhaitent une belle et heureuse année 2021 ! 
                                    </span>
                                  </p>
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0;" data-testid="chuAgW0Dx">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">Au cours du 2e trimestre de l’année scolaire, les lycéen·ne·s devront exprimer leurs choix d'orientation : enseignements de spécialité, formulation des vœux sur Parcoursup (…) en tenant compte des réformes des filières et des changements des modalités d’accès. 
                                    </span>
                                  </p>
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0;" data-testid="chuAgW0Dx">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">De nombreuses interrogations accompagnent généralement ces moments décisifs, particulièrement en cette année si compliquée. 
                                    </span>
                                  </p>
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0; margin-bottom: 10px;" data-testid="chuAgW0Dx">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">A distance ou au sein de votre lycée,
                                      <b> 
                                      </b>
                                    </span>
                                    <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="http://www.ijbox.fr">
                                      <span style="color:#55575d;font-family:Arial;font-size:14px;">
                                        <b>IJ box
                                        </b>
                                      </span>
                                    </a>
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">
                                      <b> vous permet d’être informé des actualités et des réformes, et de disposer d'outils qui vous permettront de guider vos élèves dans leur prise de décision. 
                                      </b>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td>
              <div style="margin:0px auto;max-width:600px;">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:5px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:5px;text-align:center;">
                        <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="background:#ffffff;font-size:0px;padding:0px 26px 0px 26px;padding-top:0px;padding-right:26px;padding-bottom:0px;padding-left:26px;">
                                <div style="font-family:Arial, sans-serif;font-size:14px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0; margin-top: 10px;" data-testid="hBpyUTZYGS">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">
                                      <b>Les dossiers thématiques IJ box leur apporteront toutes les infos nécessaires à ces étapes cruciales : paliers d'orientation, procédure Parcoursup, filières d'études et métiers, perspectives d’emploi…
                                      </b> 
                                      <b>tout est abordé et actualisé régulièrement.
                                      </b> 
                                      <b>Des quiz, tutoriels et vidéos métiers complètent la panoplie des outils disponibles sur IJ box, et un test d'orientation par centres d'intérêt ne manquera pas d’être utile aux plus indécis·es.
                                      </b>
                                    </span>
                                  </p>
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0; margin-bottom: 10px;" data-testid="hBpyUTZYGS">
                                    <span style="color:#55575d;font-family:Arial;font-size:14px;">Testez et faites tester à vos élèves, la boîte à outils online IJ box !
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td>
              <div style="margin:0px auto;max-width:600px;">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center;">
                        <div class="mj-column-per-25 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="font-size:0px;padding:0px 14px 0px 14px;padding-top:0px;padding-right:14px;padding-bottom:0px;padding-left:14px;">
                                <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="FqapfQPgb">
                                    <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.ijbox.fr/je-m-oriente/metier/accueil">
                                      <span style="color:#ff8200;font-family:Arial;font-size:13px;">
                                        <b>Test d'orientation : découverte métiers*
                                        </b>
                                      </span>
                                    </a>
                                  </p>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:0px;padding:10px 19px 10px 19px;padding-right:19px;padding-bottom:10px;padding-left:19px;">
                                <table style="border-collapse:collapse;border-spacing:0px;">
                                  <tbody>
                                    <tr>
                                      <td style="width:112px;">
                                        <a href="https://www.ijbox.fr/je-m-oriente/metier/accueil" target="_blank">
                                          <img alt="" src="https://xs6nm.mjt.lu/img/xs6nm/b/5qt7y/v6zr4.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="112">
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="mj-column-per-25 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="font-size:0px;padding:0px 13px 0px 13px;padding-top:0px;padding-right:13px;padding-bottom:0px;padding-left:13px;">
                                <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="iSA1Gx51n">
                                    <span style="color:#ff8200;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
                                      <b>Dossier : après le bac, quelles études choisir ?*
                                      </b>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:0px;padding:10px 18px 10px 18px;padding-right:18px;padding-left:18px;">
                                <table style="border-collapse:collapse;border-spacing:0px;">
                                  <tbody>
                                    <tr>
                                      <td style="width:114px;">
                                        <a href="https://www.ijbox.fr/tutos/apres-le-bac-quelles-etudes-choisir" target="_blank">
                                          <img alt="" src="https://xs6nm.mjt.lu/img/xs6nm/b/5qt7y/v6v3q.jpeg" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="114">
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="mj-column-per-25 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="font-size:0px;padding:0px 9px 0px 9px;padding-top:0px;padding-right:9px;padding-bottom:0px;padding-left:9px;">
                                <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="1W72sbWgG">
                                    <span style="color:#ff8200;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
                                      <b>Module de recherche : emploi &amp; alternance*
                                      </b>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:0px;padding:10px 18px 10px 18px;padding-right:18px;padding-bottom:10px;padding-left:18px;">
                                <table style="border-collapse:collapse;border-spacing:0px;">
                                  <tbody>
                                    <tr>
                                      <td style="width:114px;">
                                        <a href="https://www.ijbox.fr/search_form/job" target="_blank">
                                          <img alt="" src="https://xs6nm.mjt.lu/img/xs6nm/b/5qt7y/v6z74.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="114">
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="mj-column-per-25 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table style="vertical-align:top;">
                            <tr>
                              <td style="background:#ffffff;font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="KS0ByhYns">
                                    <span style="color:#ff8200;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
                                      <b>Actualité : Une nouvelle spécialité "sport" au bac général*
                                      </b>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:0px;padding:10px 16px 10px 16px;padding-right:16px;padding-left:16px;">
                                <table style="border-collapse:collapse;border-spacing:0px;">
                                  <tbody>
                                    <tr>
                                      <td style="width:118px;">
                                        <a href="https://www.ijbox.fr/actualites/une-nouvelle-specialite-sport-au-bac-general" target="_blank">
                                          <img alt="" src="https://xs6nm.mjt.lu/img/xs6nm/b/5qt7y/v6v38.jpeg" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="118">
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td>
              <div style="margin:0px auto;max-width:600px;">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-left:0px;padding-right:0px;text-align:center;">
                        <div class="mj-column-per-33 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                          <table style="vertical-align:middle;">
                            <tr>
                              <td style="background:#ffffff;font-size:0px;padding:5px 10px 5px 10px;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
                                <table style="border-collapse:separate;line-height:100%;">
                                  <tr>
                                    <td style="border:0px solid #ffffff;border-radius:3px;cursor:auto;background:#ff8200;">
                                      <a href="https://www.ijbox.fr/contact/testez_gratuitement_ij_box" style="display:inline-block;background:#ff8200;color:#ffffff;font-family:Arial, sans-serif;font-size:15px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px 10px 25px;" target="_blank">
                                        <span style="font-size:15px;">
                                          <b>TESTEZ GRATUITEMENT 
                                          </b>
                                        </span>
                                        <br>
                                        <span style="font-size:15px;">
                                          <b>IJ BOX
                                          </b>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="mj-column-per-67 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                          <table style="vertical-align:middle;">
                            <tr>
                              <td style="background:#ffffff;font-size:0px;padding:10px 20px 5px 20px;padding-top:10px;padding-right:20px;padding-bottom:5px;padding-left:20px;">
                                <div style="font-family:Arial, sans-serif;font-size:15px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                  <p class="text-build-content" style="line-height: 22px; text-align: justify; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="1p735FohmYM">
                                    <span style="color:#ff8200;font-family:Arial;font-size:15px;">
                                      <b>*Découvrez et explorez les contenus dans leur totalité en vous inscrivant à IJ box, gratuitement et sans engagement, pendant 15 jours.
                                      </b>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td>
              <div style="margin:0px auto;max-width:600px;">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="background:#ffffff;font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;">
                        <div style="font-family:Arial, sans-serif;font-size:14px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                          <p class="text-build-content" style="line-height: 22px; text-align: center; margin: 10px 0; margin-top: 10px;" data-testid="4Mg02NPa3">
                            <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/agenda/parcoursup-reussir-son-orientation-post-bac-conference-en-presentiel-et-a-distance">
                              <span style="color:#00a9ce;font-family:Arial;font-size:15px;">
                                <b>CONFÉRENCE "PARCOURSUP : RÉUSSIR SON ORIENTATION POST-BAC" 
                                </b>
                              </span>
                            </a>
                            <span style="color:#00a9ce;font-family:Arial;font-size:15px;">
                              <b>Conférence en présentiel et à distance
                              </b>
                            </span>
                          </p>
                          <p class="text-build-content" style="line-height: 20px; text-align: justify; margin: 10px 0;" data-testid="4Mg02NPa3">
                            <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/agenda/parcoursup-reussir-son-orientation-post-bac-conference-en-presentiel-et-a-distance">
                              <span style="color:#55575d;font-family:Arial;font-size:14px;">Le Centre de formation du CIDJ vous convie à sa conférence dédiée à la plateforme d'orientation post-bac.
                              </span>
                            </a>
                          </p>
                          <p class="text-build-content" style="line-height: 20px; text-align: justify; margin: 10px 0;" data-testid="4Mg02NPa3">
                            <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/agenda/parcoursup-reussir-son-orientation-post-bac-conference-en-presentiel-et-a-distance">
                              <span style="color:#55575d;font-family:Arial;font-size:14px;">
                                <b>1re session : 26 janvier 
                                </b>
                              </span>
                            </a>
                          </p>
                          <p class="text-build-content" style="line-height: 20px; text-align: justify; margin: 10px 0;" data-testid="4Mg02NPa3">
                            <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/agenda/parcoursup-reussir-son-orientation-post-bac-conference-en-presentiel-et-a-distance">
                              <span style="color:#55575d;font-family:Arial;font-size:14px;">
                                <b>2e session : 28 janvier
                                </b>
                              </span>
                            </a>
                          </p>
                          <p class="text-build-content" style="line-height: 20px; text-align: justify; margin: 10px 0; margin-bottom: 10px;" data-testid="4Mg02NPa3">
                            <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/agenda/parcoursup-reussir-son-orientation-post-bac-conference-en-presentiel-et-a-distance">
                              <span style="color:#55575d;font-family:Arial;font-size:14px;">
                                <b>Conférence accessible gratuitement, en présentiel et retransmise à distance, de  9h45 à 12h45.
                                </b>
                              </span>
                            </a>
                          </p>
                          <ul>
                            <li style="line-height:22px;text-align:justify;">
                              <a class="link-build-content" style="color:inherit;; text-decoration: none;" target="_blank" href="https://www.cidj.com/agenda/parcoursup-reussir-son-orientation-post-bac-conference-en-presentiel-et-a-distance">
                                <span style="color:#45464c;font-family:Arial;font-size:14px;">
                                  <b>Cliquez 
                                    <u>ICI
                                    </u> pour en savoir plus et vous inscrire.
                                  </b>
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
        </tbody>
      </table>
    </div>
    </td>
  </tr>
</tbody>
</table>
<table style="background:#ffffff;background-color:#ffffff;width:100%;">
  <tbody>
    <tr>
      <td>
        <div style="margin:0px auto;max-width:600px;">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center;">
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table style="vertical-align:top;">
                      <tr>
                        <td style="background:#ffffff;font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:25px;">
                          <div style="font-family:Arial, sans-serif;font-size:14px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                            <p class="text-build-content" style="line-height: 22px; margin: 10px 0; margin-top: 10px;" data-testid="QVsf3KjDR">
                              <span style="color:#55575d;font-family:Arial;font-size:14px;">Je reste à à votre disposition pour toute information complémentaire,
                              </span>
                            </p>
                            <p class="text-build-content" style="line-height: 22px; margin: 10px 0; margin-bottom: 10px;" data-testid="QVsf3KjDR">
                              <span style="color:#55575d;font-family:Arial;font-size:14px;">Cordialement.
                              </span>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table style="background:#ffffff;background-color:#ffffff;width:100%;">
  <tbody>
    <tr>
      <td>
        <div style="margin:0px auto;max-width:600px;">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 7px 0px;padding-bottom:7px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center;">
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;vertical-align:middle;">
                    <div class="mj-column-per-67 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:67%;">
                      <table style="vertical-align:middle;">
                        <tr>
                          <td style="font-size:0px;padding:10px 25px;">
                            <table style="border-collapse:collapse;border-spacing:0px;">
                              <tbody>
                                <tr>
                                  <td style="width:352px;">
                                    <img alt="" src="https://xs6nm.mjt.lu/img/xs6nm/b/5qt7y/v6zri.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="352">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="mj-column-per-33 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:33%;">
                      <table style="vertical-align:middle;">
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div style="margin:0px auto;max-width:600px;">
  <table style="width:100%;">
    <tbody>
      <tr>
        <td style="direction:ltr;font-size:0px;padding:20px 0px 20px 0px;text-align:center;">
          <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
            <table style="vertical-align:top;">
              <tr>
                <td style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;">
                  <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                    <p style="text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;">
                  <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                    <p style="text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                      <span style="font-size:13px;text-align:center;color:#55575d;font-family:Arial;line-height:22px;">   
                      </span>
                    </p>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>

{% endraw  %}
