{% raw %}
<table cellpadding="0" cellspacing="0" border="0" style="width:519pt;border-collapse:collapse" width="692">
<tbody>
<tr style="height:16.5pt">
<td style="background:rgb(155,194,230);border-width:1pt 1pt 1pt medium;border-style:solid solid solid none;border-color:windowtext windowtext windowtext currentColor;padding:0cm 3.5pt;width:108pt;height:16.5pt" width="144">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">TYPES EVENT<u></u><u></u></span></b></p>
</td>
<td style="background:rgb(155,194,230);border-width:1pt 1pt 1pt medium;border-style:solid solid solid none;border-color:windowtext windowtext windowtext currentColor;padding:0cm 3.5pt;width:144pt;height:16.5pt" width="192">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">DETAILS DU PROGRAMME<u></u><u></u></span></b></p>
</td>
<td style="background:rgb(155,194,230);border-width:1pt 1pt 1pt medium;border-style:solid solid solid none;border-color:windowtext windowtext windowtext currentColor;padding:0cm 3.5pt;width:103pt;height:16.5pt" width="137">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">DATES<u></u><u></u></span></b></p>
</td>
<td style="background:rgb(155,194,230);border-width:1pt 1pt 1pt medium;border-style:solid solid solid none;border-color:windowtext windowtext windowtext currentColor;padding:0cm 3.5pt;width:72pt;height:16.5pt" width="96">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">HORAIRE<u></u><u></u></span></b></p>
</td>
<td style="background:rgb(155,194,230);border-width:1pt 1pt 1pt medium;border-style:solid solid solid none;border-color:windowtext windowtext windowtext currentColor;padding:0cm 3.5pt;width:92pt;height:16.5pt" width="123">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">INSCRIVEZ-VOUS<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:30.75pt">
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:108pt;height:30.75pt" width="144">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">ENTRAINEMENT CONCOURS<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:144pt;height:30.75pt" width="192">
<p><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Conseils d'un coach, présentation du concours SESAME<u></u><u></u></span></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:103pt;height:30.75pt" width="137">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Mercredi 2 décembre&nbsp;<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:72pt;height:30.75pt" width="96">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">14H00 - 16H30<u></u><u></u></span></b></p>
</td>
<td style="border-width:medium 1pt medium medium;border-style:none solid none none;border-color:currentColor windowtext currentColor currentColor;padding:0cm 3.5pt;width:92pt;height:30.75pt" valign="bottom" nowrap width="123">
<p><u><span style="color:rgb(5,99,193);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt"><a target="_blank" href="https://www.esce.fr/inseecu/journees-preparation-concours/1029?event=1029">cliquez ici</a><u></u><u></u></span></u></p>
</td>
</tr>
<tr style="height:60.75pt">
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:108pt;height:60.75pt" width="144">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">IMMERSION<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:144pt;height:60.75pt" width="192">
<p><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Dans la peau d’un étudiant&nbsp;: Découvrez les cours de technique de ventes, Géopolitique et Marketing &nbsp;par nos professeurs<u></u><u></u></span></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:103pt;height:60.75pt" width="137">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Mercredi 9 et 16 décembre&nbsp;<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:72pt;height:60.75pt" width="96">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">14H00 - 17H00<u></u><u></u></span></b></p>
</td>
<td style="border-width:1pt 1pt 1pt medium;border-style:solid solid solid none;border-color:windowtext windowtext windowtext currentColor;padding:0cm 3.5pt;width:92pt;height:60.75pt" valign="bottom" nowrap width="123">
<p><u><span style="color:rgb(5,99,193);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt"><a target="_blank" href="https://www.esce.fr/inseecu/immersion/630?event=630">cliquez ici</a><u></u><u></u></span></u></p>
</td>
</tr>
<tr style="height:75.75pt">
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:108pt;height:75.75pt" width="144">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">Présentation des programmes ESCE
<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:144pt;height:75.75pt" width="192">
<p><u><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Admission Post-Bac :
</span></u><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">programme sur 5 ans (PGE) et 3 ans (International Bachelor)
<u></u><u></u></span></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:103pt;height:75.75pt" width="137">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Mercredi 9 décembre&nbsp;<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:72pt;height:75.75pt" width="96">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">17H00 - 20H00<u></u><u></u></span></b></p>
</td>
<td style="border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:92pt;height:75.75pt" valign="bottom" nowrap width="123">
<p><u><span style="color:rgb(5,99,193);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt"><a target="_blank" href="https://www.esce.fr/inseecu/journees-portes-ouvertes/1030?event=1030">cliquez ici</a><u></u><u></u></span></u></p>
</td>
</tr>
<tr style="height:105.75pt">
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:108pt;height:105.75pt" width="144">
<p><b><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif">Présentation des programmes ESCE
<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:144pt;height:105.75pt" width="192">
<p><u><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Admission Post-Bac : -&nbsp; - -
</span></u><span style="color:black;font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">programme sur 5 ans (PGE) et 3 ans (International Bachelor) International, Career Center, associations.. Etc.<u></u><u></u></span></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:103pt;height:105.75pt" width="137">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">Samedi 19 décembre&nbsp;<u></u><u></u></span></b></p>
</td>
<td style="background:white;border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:72pt;height:105.75pt" width="96">
<p><b><span style="color:rgb(31,73,125);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt">14H00&nbsp; - 16H30<u></u><u></u></span></b></p>
</td>
<td style="border-width:medium 1pt 1pt medium;border-style:none solid solid none;border-color:currentColor windowtext windowtext currentColor;padding:0cm 3.5pt;width:92pt;height:105.75pt" valign="bottom" nowrap width="123">
<p><u><span style="color:rgb(5,99,193);font-family:&quot;Calibri&quot;,sans-serif;font-size:11pt"><a target="_blank" href="https://www.esce.fr/inseecu/journees-portes-ouvertes/1030?event=1030">cliquez ici</a><u></u><u></u></span></u></p>
</td>
</tr>
</tbody>
</table>
{% endraw %}
